@tailwind utilities;
@tailwind components;
@tailwind base;
@layer utilities {
  .title-section {
    @apply text-2xl sm:text-3xl font-bold text-green-700 mb-8 text-center uppercase;
  }

  .bg-primary {
    @apply bg-orange-600 hover:bg-orange-700 text-white;
  }

  .color-primary {
    @apply text-orange-600 hover:text-orange-700;
  }
}
/* globals.css hoặc index.css */
.masonry-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c1c2c6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0389eb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #409eff;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.ant-table-cell {
  padding: 1rem 0.2rem !important;
}

